{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de votre commande{% endblock %}

{% block body %}
      {# Titre de la page du récapitulatif de la commande #}
      <h2 class="font-medium leading-tight text-2xl text-custom-violet text-center mt-5 uppercase">Récapitulatif de votre commande {{ reference }}</h2>

      {% for orderDetail in orderDetails %}
            {{ dump(orderDetails)}}
            <br>
      {% endfor %}

      {% if isPaid == false and method == 'stripe' %}
            <div class="flex justify-between my-5">
                  {# Boutton paiement Stripe #}
                  <form action="{{ path('payment.stripe', { reference: reference })}}" method="POST">
                        <button type="submit" class="inline-block border-2 border-custom-violet rounded-full py-3 px-6 bg-transaparent text-custom-violet font-bold leading-tight shadow-md hover:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange hover:shadow-lg hover:text-white hover:border-white focus:bg-custom-dark-orange focus:shadow-lg focus:outline-none focus:ring-0 active:bg-custom-dark-orange active:shadow-lg transition duration-150 ease-in-out">Payer avec Stripe | {{ (totalOrder / 100)|number_format(2, ',', '') }} €
                        </button>
                  </form>

                  {# Annulation commande #}
                  <a href="{{ path('order.delete', { id: id }) }}" class="inline-block border-2 border-custom-violet rounded-full py-3 px-6 bg-transaparent text-custom-violet font-bold leading-tight shadow-md hover:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange hover:shadow-lg hover:text-white hover:border-white focus:bg-custom-dark-orange focus:shadow-lg focus:outline-none focus:ring-0 active:bg-custom-dark-orange active:shadow-lg transition duration-150 ease-in-out">
                        <i class="fa-solid fa-trash-can"></i>
                  </a>
            </div>
      {% endif %}

{% endblock %}
