{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de votre commande{% endblock %}

{% block body %}
      {# Titre de la page du récapitulatif de la commande #}
      <h2 class="font-medium leading-tight text-2xl text-custom-violet text-center mt-5 uppercase">Récapitulatif de votre commande {{ reference }}</h2>
      {% set total = null %}
      <div class="flex flex-col py-4">
            {% for orderDetail in orderDetails %}
            {% set total = (total + orderDetail.price * orderDetail.quantity / 100) %}
                  {# Affichage des informations de la commande #}
                  {{ dump(orderDetail)}}
                  {{ dump(orderDetail.orderProduct)}}
                  {# Affichage des produits de la commande #}
                        <div class="flex flex-col flex-wrap px-6">
                              {# Nom du produit #}
                              <span>{{ orderDetail.product }}</span>
                              {# Quantité #}
                              <span>Quantité : <strong>x{{ orderDetail.quantity }}</strong></span>
                              {# Prix #}
                              <span>Prix : <strong>{{ (orderDetail.price * orderDetail.quantity / 100)|number_format(2, ',', '')}} €</strong></span>
                        </div>
            {% endfor %}

            {# Séparateur #}
            {# <hr class="mt-5"> #}

            {# Affichage du prix total de la commande #}
            <div class="mt-2 px-6">
                  <p>Total : <strong>{{ (total + (transporter / 100))|number_format(2, ',', '') }} €</strong></p>
            </div>
      </div>
{% endblock %}
