{% extends "base.html.twig" %}

{% block title %}Profil de l'utilisateur
{% endblock %}
     
{% block body %}

      {# Affiche les messages flash success #}
      {% for message in app.flashes('success') %}
            <div class="bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700" role="alert">
                  {{ message }}
            </div>
      {% endfor %}

      {# Titre principal de la page #}
      <h2 class="font-medium leading-tight text-4xl mt-10 text-center text-custom-violet">Votre compte utilisateur</h2>

      {# Breackcrumb #}
      <nav class="flex justify-center w-full rounded-md mt-5 mb-2">
            <ol class="list-reset flex">
                  <li class="text-custom-violet">
                        <a href="{{ path('index') }}">Accueil</a>
                  </li>
                  <li>
                        <span class="text-custom-violet mx-5">></span>
                  </li>
                  <li class="text-custom-dark-orange underline">
                        <a href="{{ path('user.index') }}">Votre profil</a>
                  </li>
            </ol>
      </nav>

      {# Container principal de la page utilisateur #}
      <div class="flex flex-row mb-10">
            <div class="flex flex-row justify-evenly w-full">
                  {# Affichage des informations de l'utilisateur #}
                  <div class="flex flex-col my-10">
                        <h3 class="text-center leading-tight font-bold text-custom-violet text-2xl mb-10 underline">Vos informations personnelles</h3>
                        <div class="flex flex-row justify-between">

                              {# Première colonne #}
                              <div class="flex flex-col end">
                                    {# Nom / Prénom #}
                                    <p class="text-custom-violet leading-tight text-lg mb-5">Nom / Prénom :</p>

                                    {# Pseudo #}
                                    <p class="text-custom-violet leading-tight text-lg mb-5">Pseudo :</span></p>

                                    {# Adresse #}
                                    <p class="text-custom-violet leading-tight text-lg mb-5">Adresse :</p>

                                    {# Code Postal #}
                                    <p class="text-custom-violet leading-tight text-lg mb-5">Code Postal :</p>

                                    {# Ville #}
                                    <p class="text-custom-violet leading-tight text-lg mb-5">Ville :</p>
                              </div>

                              {# Deuxième colonne #}
                              <div class="flex flex-col text-end">
                                    {# Nom / Prénom  #}
                                    <p class="text-custom-violet leading-tight text-lg mb-5">{{ app.user.fullname }}</p>

                                    {# Pseudo #}
                                    <p class="text-custom-violet leading-tight text-lg mb-5">{{ app.user.username }}</p>

                                    {# Adresse #}
                                    {% if app.user.address == null %}
                                          <p class="italic leading-tight text-lg mb-5 text-gray-400">Non communiqué</p>
                                    {% else %}
                                           <p class="text-custom-violet leading-tight text-lg mb-5">{{ app.user.address }}</p>
                                    {% endif %}

                                    {# Code Postal #}
                                    {% if app.user.zipcode == null %}
                                    <p class="italic leading-tight text-lg mb-5 font-light text-gray-400">Non communiqué</p>
                                    {% else %}
                                           <p class="text-custom-violet leading-tight text-lg mb-5">{{ app.user.zipcode }}</p>
                                    {% endif %}

                                    {# Ville #}
                                    {% if app.user.city == null %}
                                    <p class="italic leading-tight text-lg mb-5 text-gray-400">Non communiqué</p>
                                    {% else %}
                                           <p class="text-custom-violet leading-tight text-lg mb-5">{{ app.user.city }}</p>
                                    {% endif %}
                              </div>
                        </div>

                        {# Bouton de modification des données personnelles #}
                        <a href="{{ path('user.edit', { id: app.user.id }) }}">
                              <button type="button" class="w-full inline-block border-2 border-custom-violet rounded-full py-3 px-6 bg-transaparent text-custom-violet font-bold leading-tight shadow-md hover:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange hover:shadow-lg hover:text-white hover:border-white focus:bg-custom-dark-orange focus:shadow-lg focus:outline-none focus:ring-0 active:bg-custom-dark-orange active:shadow-lg transition duration-150 ease-in-out">Modifier vos informations</button>
                        </a>

                        {# Partie adresse email et mot de passe #}
                        <h3 class="text-center leading-tight font-bold text-custom-violet text-2xl mt-10 mb-5 underline">Informations de sécurité</h3>
                        {# Email #}
                        <div class="flex flex-row justify-between">
                              <div class="flex flex-col">
                                    <p class="text-custom-violet leading-tight text-lg">Email :</p>
                              </div>
                              <div class="flex flex-col">
                                    <p class="text-custom-violet leading-tight text-lg mb-5">{{ app.user.email }}</p>
                              </div>
                        </div>

                        {# Bouton de modification de l'adresse email #}
                        <a href="{{ path('user.edit.email', { id: app.user.id }) }}">
                              <button type="button" class="w-full inline-block border-2 border-custom-violet rounded-full py-3 px-6 bg-transaparent text-custom-violet font-bold leading-tight shadow-md hover:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange hover:shadow-lg hover:text-white hover:border-white focus:bg-custom-dark-orange focus:shadow-lg focus:outline-none focus:ring-0 active:bg-custom-dark-orange active:shadow-lg transition duration-150 ease-in-out">Modifier l'adresse email</button>
                        </a>

                        {# Mot de passe #}
                        <div class="flex flex-row justify-between mt-5">
                              <div class="flex flex-col">
                              {# Mot de passe #}
                                    <p class="text-custom-violet leading-tight text-lg">Mot de passe :</p>
                              </div>
                              <div class="flex flex-col">
                                    <p class="text-custom-violet leading-tight text-lg mb-5">**********</p>
                              </div>
                        </div>

                        {# Bouton de modification du mot de passe #}
                        <a href="{{ path('user.edit.password', { id: app.user.id }) }}">
                              <button type="button" class="w-full inline-block border-2 border-custom-violet rounded-full py-3 px-6 bg-transaparent text-custom-violet font-bold leading-tight shadow-md hover:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange hover:shadow-lg hover:text-white hover:border-white focus:bg-custom-dark-orange focus:shadow-lg focus:outline-none focus:ring-0 active:bg-custom-dark-orange active:shadow-lg transition duration-150 ease-in-out">Modifier le mot de passe</button>
                        </a>
                  </div>

                  {# Récapitulatif des commandes de l'utilisateur #}
                  <div class="flex flex-col my-10">
                        <h3 class="text-center leading-tight font-bold text-custom-violet text-2xl mb-10 underline">Récapitulatif des commandes</h3>
                        <div class="flex flex-row justify-between">
                              <div class="flex flex-col">
                                    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                                                <div class="overflow-hidden">
                                                      <table class="min-w-full text-left text-sm font-light">
                                                            <thead class="border-b font-medium dark:border-neutral-500">
                                                                  <tr>
                                                                        <th scope="col" class="px-6 py-4">Date de la commande</th>
                                                                        <th scope="col" class="px-6 py-4">Référence de la commande</th>
                                                                        <th scope="col" class="px-6 py-4">Montant</th>
                                                                        <th scope="col" class="px-6 py-4">Statut du paiement</th>
                                                                  </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for order in app.user.orders %}
                                                                  <tr class="text-center border-b dark:border-neutral-500">
                                                                        {# Date de la commande  #}
                                                                        <td class="whitespace-nowrap px-6 py-4">
                                                                              {{ order.createdAt|date('d/m/Y') }}
                                                                        </td>

                                                                        {# Référence de la commande #}
                                                                        <td class="whitespace-nowrap px-6 py-4">
                                                                              {{ order.reference }}
                                                                              <div class="flex">
                                                                                    <a class="underline" href="{{ path('user.order.recap', { id: order.id }) }}">Voir détails</a>
                                                                              </div>
                                                                        </td>

                                                                        {# Total de la commande #}
                                                                        <td class="whitespace-nowrap px-6 py-4">
                                                                              {{ (order.totalOrder / 100)|number_format(2, ',', '') }}€
                                                                        </td>

                                                                        {# Statut de paiement de la commande #}
                                                                        {# Si la commande a été payée, on affiche "Paiement accepté" #}
                                                                        {% if order.isPaid == true %}
                                                                              <td class="whitespace-nowrap px-6 py-4">
                                                                                    Paiement accepté
                                                                              </td>
                                                                        {# Sinon, on affiche "Paiement en attente" #}
                                                                        {% else %}
                                                                              <td class="whitespace-nowrap px-6 py-4">
                                                                                    Paiement en attente
                                                                              </td>
                                                                        {% endif %}
                                                                  </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                      </table>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
{% endblock %}
