{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    {# {{ dump(cart) }} #}

    {# Panier #}
    <h2 class="font-medium leading-tight text-2xl text-custom-violet text-center mt-5 uppercase">Votre panier</h2> 

    {# Si le cart comprend un article #}
    {% if cart|length > 0 %}
    {# Breackcrumb #}
    <nav class="flex justify-center w-full rounded-md mt-5">
        <ol class="list-reset flex">
            <li class="text-custom-violet">
                <a href="{{path('index')}}">Accueil</a>
            </li>
            <li>
                <span class="text-custom-violet mx-5">></span>
            </li>
            <li class="text-custom-dark-orange underline">
                <a href="{{path('cart')}}">Panier</a>
            </li>
        </ol>
    </nav>

    {# Initilisation de la variable total #}
    {% set total = null %}
    {# Container de la page #}
    <div class="flex justify-center my-5">
        <div class="flex flex-col" style="max-width: 620px;">
            <hr>
            {% for item in cart %}
            <div class="rounded-lg shadow-lg bg-white my-5">
                <div class="flex items-center mt-5">
                {# Calcul total du panier #}
                {% set total = total + (item.product.price * item.quantity) %}
                <div class="flex justify-between py-4 px-6">
                    {# Image du produit #}
                    <img class="rounded-full" src="{{ vich_uploader_asset(item.product, 'imageFile') }}" width="150" height="100" alt="{{ item.product.title }}">
                        {# Informations sur le produit #}
                        <div class="flex flex-col justify-center px-6">
                            <span>{{ item.product.title }}</span>
                            <span>Quantité : <strong>x{{ item.quantity }}</strong></span>
                            <span>Prix UT : <strong>{{ item.product.price }}€</strong></span>
                        </div>
                    </div>
                </div>
                {# Prix et quantité du produit#}
                <div class="flex flex-wrap items-center justify-between py-4 px-6">
                    {# Incrémentation du panier #}
                    <div class="flex justify-between">
                        <div>
                            <a href="{{ path('cart.add', {'id': item.product.id}) }}">
                                <button type="button" style="width: 40px; height: 40px;" class="inline-block px-4 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">+</button>
                            </a>
                            {# Quantité du produit #}
                            <input value="{{ item.quantity }}" style="width: 61px; height: 35px;" class="text-center" readonly/>
                            {# Décrémentation du panier #}
                            <a href="{{ path('cart.decrement', {'id': item.product.id}) }}">
                                <button type="button" style="width: 40px; height: 40px;" class="inline-block px-4 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">-</button>
                            </a>
                        </div>
                    </div>
                    {# Prix en fonction de la quantité de produit #}
                    <div class="flex px-6">
                        <span class="font-bold text-2xl">{{ (item.quantity * item.product.price)|number_format(2, '.', '') }}€</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <hr class="mt-5">

            {# Total du panier #}
            <div class="flex flex-row justify-center my-5">
                <span class="font-bold text-2xl">Total : {{ total|number_format(2, ',', '') }}€</span>
            </div>

            <div class="flex flex-row justify-center">
            {# Form de validation du panier #}
                <form action="{{ path('order') }}" method='POST'>
                    <div class="flex justify-center">
                        {# Bouton de validation du panier #}
                        <button class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" type="submit">Valider la commande</button>
                    </div>
                <form>
            </div>
        </div>
        {% else %}

        {# Si pas de produit affiche un panier vide #}
        <div class="flex flex-row justify-evenly">
            <p class="text-gray-70 text-base my-5">Votre panier est vide 😢</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
