{% extends "base.html.twig" %}

{% block title %}{{ product.title }}
{% endblock %}
     
{% block body %}

      {# Affiche les messages flash success #}
      {% for message in app.flashes('success') %}
            <div class="bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700" role="alert">
                  {{ message }}
            </div>
      {% endfor %}
      {% for message in app.flashes('error') %}
            <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700" role="alert">
                  {{ message }}
            </div>
      {% endfor %}

      {# Titre de la page #}
      <h2 class="font-medium leading-tight text-3xl text-custom-violet text-center mt-5">{{ product.title }}</h2>

      {# Breackcrumb #}
      <nav class="flex justify-center w-full rounded-md mt-5">
            <ol class="list-reset flex">
                  <li class="text-custom-violet">
                        <a href="{{path('index')}}">Accueil</a>
                  </li>
                  <li>
                        <span class="text-custom-violet mx-5">></span>
                  </li>
                  <li class="text-custom-dark-orange underline">
                        <a href="#">{{ product.title }}</a>
                  </li>
            </ol>
      </nav>
      
      {# Bloc de la partie produit #}
      <div class="flex justify-center">
            <div class="rounded-lg shadow-lg bg-white max-w-sm my-5">

                  {# Image du produit #}
                  <img class="rounded-t-lg" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.title }}"/>

                  <div class="p-6">
                        {# Nom du produit #}
                        <h3 class="font-medium leading-tight text-custom-violet text-2xl mt-0 mb-2">{{ product.title }}</h3>
                        
                        {# Description du produit #}
                        <p class="text-custom-violet text-base mb-4">
                              {{ product.description|raw }}
                        </p>

                        {# Note moyenne du produit #}
                        {% set rating = product.average %}
                        {% set maxRating = 5 %}
                        <div class="flex justify-center text-custom-violet my-5">
                              {% for i in 1..maxRating %}
                                    {% if rating >= i %}
                                          <i class="fas fa-star mx-0.5"></i>
                                    {% else %}
                                    <i class="far fa-star"></i>
                                    {% endif %}
                              {% endfor %}
                        </div>

                        {# {% if is_granted('ROLE_USER') and product.isIsPaid(app.user) %} #}
                              {# Form de notation du produit #}
                              {{ form_start(form) }}
                                    <div class="flex justify-center">
                                          <div class="mr-2">
                                                {{ form_row(form.mark) }}
                                          </div>
                                          <div class="ml-2">
                                                {{ form_row(form.submit) }}
                                          </div>
                                    </div>
                              {# Fin de formulaire #}
                              {{ form_end(form) }}
                        {# {% endif %} #}



                        

                        {# Prix du produit #}
                        <div class="flex justify-center mt-5">
                              <span class="font-bold text-2xl text-custom-violet">{{ (product.price / 100)|number_format(2, ',', '') }} €</span>
                        </div>
                  </div>

                  {# Bouton d'ajout au panier #}
                  <div class="flex flex-row flex-wrap justify-center pb-6">
                        <a href="{{ path('cart.add', { id: product.id }) }}">
                              <button type="button" class="inline-block border-2 border-custom-violet rounded-full py-3 px-6 bg-transaparent text-custom-violet font-bold leading-tight shadow-md hover:bg-gradient-to-r from-custom-dark-orange to-custom-light-orange hover:shadow-lg hover:text-white hover:border-white focus:bg-custom-dark-orange focus:shadow-lg focus:outline-none focus:ring-0 active:bg-custom-dark-orange active:shadow-lg transition duration-150 ease-in-out">Ajouter au panier</button>
                        </a>
                  </div>
            </div>
      </div>
{% endblock %}
